---
title: All LTS Releases
layout: default
sectionid: blog
permalink: alllts.html
---


<div class="container">
    <div class="inner-content">
        <h1>All Releases</h1>
        {% assign items = site.posts | where_exp: "page", "page.categories contains 'lts'" %}
        {% for page in items %}
        <p>
            <strong><a href="{{ page.url | relative_url }}">{{ page.title }}</a></strong>
            <span>on {{ page.date | date: "%B %e, %Y" }} {% if page.author %} by {{ page.author }}{% endif %}</span>
        </p>
        {% else %}
        <p>
            <strong>No LTS releases yet</strong>
        </p>
        {% endfor %}

    </div>
</div>
