---
title: All News
layout: default
sectionid: blog
permalink: allnews.html
---


<div class="container">
    <div class="inner-content">
        <h1>All News</h1> {% for page in site.posts %}
        <p>
            <strong><a href="{{ page.url | relative_url }}">{{ page.title }}</a></strong>
            <span>on {{ page.date | date: "%B %e, %Y" }} {% if page.author %} by {{ page.author }}{% endif %}</span>
        </p>
        {% endfor %}
    </div>
</div>
